Host {{ keyring "ssh" "host_1" }}
  HostName {{ keyring "ssh" "host_1" }}
  User root
Host github.com
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile ~/.ssh/id_ed25519
Host {{ keyring "ssh" "host_2" }}
  User {{ keyring "ssh" "user_2" }}
  Port 22
  IdentityFile ~/.ssh/id_ed25519
  AddKeysToAgent yes
  UseKeychain yes
